/* Scheme name: {{scheme-name}} */
/* Scheme system: {{scheme-system}} */
/* Scheme author: {{scheme-author}} */
/* Template author: Tinted Theming (https://github.com/tinted-theming) */

/* GTK Vars */

@define-color base00 #{{base00-hex}};
@define-color base01 #{{base01-hex}};
@define-color base02 #{{base02-hex}};
@define-color base03 #{{base03-hex}};
@define-color base04 #{{base04-hex}};
@define-color base05 #{{base05-hex}};
@define-color base06 #{{base06-hex}};
@define-color base07 #{{base07-hex}};
@define-color base08 #{{base08-hex}};
@define-color base09 #{{base09-hex}};
@define-color base0A #{{base0A-hex}};
@define-color base0B #{{base0B-hex}};
@define-color base0C #{{base0C-hex}};
@define-color base0D #{{base0D-hex}};
@define-color base0E #{{base0E-hex}};
@define-color base0F #{{base0F-hex}};
@define-color base10 #{{base10-hex}};
@define-color base11 #{{base11-hex}};
@define-color base12 #{{base12-hex}};
@define-color base13 #{{base13-hex}};
@define-color base14 #{{base14-hex}};
@define-color base15 #{{base15-hex}};
@define-color base16 #{{base16-hex}};
@define-color base17 #{{base17-hex}};
