fonts/.local/share/fonts/*
themes/.local/share/themes/*
icons/.local/share/icons/*
icons/.local/share/icons/hicolor/icon-theme.cache
vdhcoapp/*
ytcc/.local/share/ytcc/ytcc.db
helix/.config/helix/runtime/*
anyrun/.config/anyrun/plugins/*
tinted-theming/.local/share/tinted-theming/tinty/custom-schemes/*
tinted-theming/.local/share/tinted-theming/tinty/repos/schemes/*
micro/.config/micro/buffers/*
