@import "../colors/colors.css";

@define-color bg-color @base00;
@define-color fg-color @base07;
@define-color primary-color @base0E;
@define-color secondary-color @base0F;
@define-color border-color @primary-color;
@define-color selected-bg-color @primary-color;
@define-color selected-fg-color @bg-color;

* {
  all: unset;
  font-family: Noto Sans Regular Font;
}

#window {
  background: transparent;
}

box#main {
  border-radius: 5px;
  background-color: @bg-color;
  /*border: 0.5px solid alpha(@fg-color, 0.25);*/
  border: 2px solid @primary-color;
  padding: 7px;
}

entry#entry {
  font-size: 1.25rem;
  background: alpha(@primary-color, 0.2);
  box-shadow: none;
/*   border: none; */
  border: 1px solid @primary-color;
  border-radius: 5px;
  padding: 5px 10px;
  min-height: 30px;
  margin-bottom: 5px;
  caret-color: @primary-color;
}

list#main {
  background-color: transparent;
}

#plugin {
  background-color: transparent;
  padding-bottom: 4px;
}

#match {
  font-size: 1.1rem;
  padding: 2px 4px;
}

#match:selected,
#match:hover {
  background-color: @selected-bg-color;
  color: @selected-fg-color;
}

#match:selected label#info,
#match:hover label#info {
  color: @selected-fg-color;
}

#match:selected label#match-desc,
#match:hover label#match-desc {
  color: alpha(@selected-fg-color, 0.9);
}

#match label#info {
  color: transparent;
  color: @fg-color;
}

label#match-desc {
  font-size: 1rem;
  color: @fg-color;
}

label#plugin {
  font-size: 16px;
}
