/* Scheme name: {{scheme-name}} */
/* Scheme system: {{scheme-system}} */
/* Scheme author: {{scheme-author}} */
/* Template author: Tinted Theming (https://github.com/tinted-theming) */

/* GTK Vars */
@define-color bg-color #{{base00-hex}};
@define-color fg-color #{{base07-hex}};
@define-color primary-color #{{base0E-hex}};
@define-color secondary-color #{{base0F-hex}};
@define-color border-color @primary-color;
@define-color selected-bg-color @primary-color;
@define-color selected-fg-color @bg-color;
