# COLOUR (base16)
color=2b2524
bs-hl-color=a25563
caps-lock-bs-hl-color=a25563
caps-lock-key-hl-color=3fae75
inside-color=756f6b88
#inside-clear-color=756f6b88
inside-clear-color=36aad788
inside-ver-color=093ed488
inside-wrong-color=c9552888
key-hl-color=3fae75
layout-bg-color=756f6b88
layout-border-color=a6a09a
layout-text-color=d8d2ca
line-color=756f6b
line-clear-color=756f6b
line-caps-lock-color=a25563
line-ver-color=093ed4
line-wrong-color=c95528
ring-color=f7b74d
ring-caps-lock-color=f7b74d
ring-clear-color=36aad7
ring-ver-color=093ed4
ring-wrong-color=c95528
text-color=d8d2ca
#text-clear-color=36aad7
text-clear-color=d8d2ca
text-caps-lock-color=d8d2ca
text-ver-color=d8d2ca
text-wrong-color=d8d2ca
