# COLOUR (base16)
color=1e2833
bs-hl-color=a76c34
caps-lock-bs-hl-color=a76c34
caps-lock-key-hl-color=4e973e
inside-color=737b7e88
#inside-clear-color=737b7e88
inside-clear-color=37c2eb88
inside-ver-color=080ff588
inside-wrong-color=ce482d88
key-hl-color=4e973e
layout-bg-color=737b7e88
layout-border-color=acb3b1
layout-text-color=e6ebe4
line-color=737b7e
line-clear-color=737b7e
line-caps-lock-color=a76c34
line-ver-color=080ff5
line-wrong-color=ce482d
ring-color=ffd04e
ring-caps-lock-color=ffd04e
ring-clear-color=37c2eb
ring-ver-color=080ff5
ring-wrong-color=ce482d
text-color=e6ebe4
#text-clear-color=37c2eb
text-clear-color=e6ebe4
text-caps-lock-color=e6ebe4
text-ver-color=e6ebe4
text-wrong-color=e6ebe4
