# COLOUR (base16)
color=351f0d
bs-hl-color=7a4f66
caps-lock-bs-hl-color=7a4f66
caps-lock-key-hl-color=2b7963
inside-color=73675488
#inside-clear-color=73675488
inside-clear-color=03b6cc88
inside-ver-color=0541cf88
inside-wrong-color=fc4c3488
key-hl-color=2b7963
layout-bg-color=73675488
layout-border-color=9d9783
layout-text-color=c7c7b3
line-color=736754
line-clear-color=736754
line-caps-lock-color=7a4f66
line-ver-color=0541cf
line-wrong-color=fc4c34
ring-color=7c5067
ring-caps-lock-color=7c5067
ring-clear-color=03b6cc
ring-ver-color=0541cf
ring-wrong-color=fc4c34
text-color=c7c7b3
#text-clear-color=03b6cc
text-clear-color=c7c7b3
text-caps-lock-color=c7c7b3
text-ver-color=c7c7b3
text-wrong-color=c7c7b3
