# COLOUR (base16)
color=17235c
bs-hl-color=a72828
caps-lock-bs-hl-color=a72828
caps-lock-key-hl-color=00ff00
inside-color=67719488
#inside-clear-color=67719488
inside-clear-color=00feff88
inside-ver-color=0911d688
inside-wrong-color=cf081888
key-hl-color=00ff00
layout-bg-color=67719488
layout-border-color=9da5b9
layout-text-color=d3d9df
line-color=677194
line-clear-color=677194
line-caps-lock-color=a72828
line-ver-color=0911d6
line-wrong-color=cf0818
ring-color=f9fc00
ring-caps-lock-color=f9fc00
ring-clear-color=00feff
ring-ver-color=0911d6
ring-wrong-color=cf0818
text-color=d3d9df
#text-clear-color=00feff
text-clear-color=d3d9df
text-caps-lock-color=d3d9df
text-ver-color=d3d9df
text-wrong-color=d3d9df
