# COLOUR (base16)
color=391f28
bs-hl-color=744555
caps-lock-bs-hl-color=744555
caps-lock-key-hl-color=4f7f54
inside-color=80737488
#inside-clear-color=80737488
inside-clear-color=19eff788
inside-ver-color=11589f88
inside-wrong-color=9d4c2e88
key-hl-color=4f7f54
layout-bg-color=80737488
layout-border-color=b0aba7
layout-text-color=e0e4da
line-color=807374
line-clear-color=807374
line-caps-lock-color=744555
line-ver-color=11589f
line-wrong-color=9d4c2e
ring-color=eea760
ring-caps-lock-color=eea760
ring-clear-color=19eff7
ring-ver-color=11589f
ring-wrong-color=9d4c2e
text-color=e0e4da
#text-clear-color=19eff7
text-clear-color=e0e4da
text-caps-lock-color=e0e4da
text-ver-color=e0e4da
text-wrong-color=e0e4da
