# COLOUR (base16)
color=20282f
bs-hl-color=a44c3b
caps-lock-bs-hl-color=a44c3b
caps-lock-key-hl-color=497e26
inside-color=69707788
#inside-clear-color=69707788
inside-clear-color=5bb3c488
inside-ver-color=52648088
inside-wrong-color=a44c3b88
key-hl-color=497e26
layout-bg-color=69707788
layout-border-color=9aa0a7
layout-text-color=cbd1d8
line-color=697077
line-clear-color=697077
line-caps-lock-color=a44c3b
line-ver-color=526480
line-wrong-color=a44c3b
ring-color=ad9b7f
ring-caps-lock-color=ad9b7f
ring-clear-color=5bb3c4
ring-ver-color=526480
ring-wrong-color=a44c3b
text-color=cbd1d8
#text-clear-color=5bb3c4
text-clear-color=cbd1d8
text-caps-lock-color=cbd1d8
text-ver-color=cbd1d8
text-wrong-color=cbd1d8
