# COLOUR (base16)
color=1c2548
bs-hl-color=7d626e
caps-lock-bs-hl-color=7d626e
caps-lock-key-hl-color=2c9c69
inside-color=6e768b88
#inside-clear-color=6e768b88
inside-clear-color=1bbcb688
inside-ver-color=0927c388
inside-wrong-color=e1211b88
key-hl-color=2c9c69
layout-bg-color=6e768b88
layout-border-color=a5adb8
layout-text-color=dde4e6
line-color=6e768b
line-clear-color=6e768b
line-caps-lock-color=7d626e
line-ver-color=0927c3
line-wrong-color=e1211b
ring-color=e2a947
ring-caps-lock-color=e2a947
ring-clear-color=1bbcb6
ring-ver-color=0927c3
ring-wrong-color=e1211b
text-color=dde4e6
#text-clear-color=1bbcb6
text-clear-color=dde4e6
text-caps-lock-color=dde4e6
text-ver-color=dde4e6
text-wrong-color=dde4e6
