# COLOUR (base16)
color=172838
bs-hl-color=ba6b4e
caps-lock-bs-hl-color=ba6b4e
caps-lock-key-hl-color=08785b
inside-color=6c747a88
#inside-clear-color=6c747a88
inside-clear-color=1bc7f988
inside-ver-color=0c3e9c88
inside-wrong-color=723a3288
key-hl-color=08785b
layout-bg-color=6c747a88
layout-border-color=a5a7a6
layout-text-color=dedbd3
line-color=6c747a
line-clear-color=6c747a
line-caps-lock-color=ba6b4e
line-ver-color=0c3e9c
line-wrong-color=723a32
ring-color=f3c163
ring-caps-lock-color=f3c163
ring-clear-color=1bc7f9
ring-ver-color=0c3e9c
ring-wrong-color=723a32
text-color=dedbd3
#text-clear-color=1bc7f9
text-clear-color=dedbd3
text-caps-lock-color=dedbd3
text-ver-color=dedbd3
text-wrong-color=dedbd3
