# COLOUR (base16)
color=0c2031
bs-hl-color=953536
caps-lock-bs-hl-color=953536
caps-lock-key-hl-color=00ac67
inside-color=5a676888
#inside-clear-color=5a676888
inside-clear-color=6f7e9d88
inside-ver-color=0100b288
inside-wrong-color=ff000188
key-hl-color=00ac67
layout-bg-color=5a676888
layout-border-color=8e978d
layout-text-color=c2c7b3
line-color=5a6768
line-clear-color=5a6768
line-caps-lock-color=953536
line-ver-color=0100b2
line-wrong-color=ff0001
ring-color=ffb568
ring-caps-lock-color=ffb568
ring-clear-color=6f7e9d
ring-ver-color=0100b2
ring-wrong-color=ff0001
text-color=c2c7b3
#text-clear-color=6f7e9d
text-clear-color=c2c7b3
text-caps-lock-color=c2c7b3
text-ver-color=c2c7b3
text-wrong-color=c2c7b3
