# COLOUR (base16)
color=1f1d60
bs-hl-color=9b3c27
caps-lock-bs-hl-color=9b3c27
caps-lock-key-hl-color=33b846
inside-color=6b6b9588
#inside-clear-color=6b6b9588
inside-clear-color=3ab0c788
inside-ver-color=45465288
inside-wrong-color=c54f3888
key-hl-color=33b846
layout-bg-color=6b6b9588
layout-border-color=9e9fb9
layout-text-color=d1d3dd
line-color=6b6b95
line-clear-color=6b6b95
line-caps-lock-color=9b3c27
line-ver-color=454652
line-wrong-color=c54f38
ring-color=eacc49
ring-caps-lock-color=eacc49
ring-clear-color=3ab0c7
ring-ver-color=454652
ring-wrong-color=c54f38
text-color=d1d3dd
#text-clear-color=3ab0c7
text-clear-color=d1d3dd
text-caps-lock-color=d1d3dd
text-ver-color=d1d3dd
text-wrong-color=d1d3dd
