# COLOUR (base16)
color=1f243d
bs-hl-color=b64c4d
caps-lock-bs-hl-color=b64c4d
caps-lock-key-hl-color=179d8b
inside-color=70747d88
#inside-clear-color=70747d88
inside-clear-color=4ebcc388
inside-ver-color=101dc588
inside-wrong-color=b1433c88
key-hl-color=179d8b
layout-bg-color=70747d88
layout-border-color=a7a9a8
layout-text-color=dedfd4
line-color=70747d
line-clear-color=70747d
line-caps-lock-color=b64c4d
line-ver-color=101dc5
line-wrong-color=b1433c
ring-color=d4b65b
ring-caps-lock-color=d4b65b
ring-clear-color=4ebcc3
ring-ver-color=101dc5
ring-wrong-color=b1433c
text-color=dedfd4
#text-clear-color=4ebcc3
text-clear-color=dedfd4
text-caps-lock-color=dedfd4
text-ver-color=dedfd4
text-wrong-color=dedfd4
