# COLOUR (base16)
color=2c261e
bs-hl-color=975c34
caps-lock-bs-hl-color=975c34
caps-lock-key-hl-color=325266
inside-color=827f7988
#inside-clear-color=827f7988
inside-clear-color=5fb2df88
inside-ver-color=1e3caa88
inside-wrong-color=a04d2088
key-hl-color=325266
layout-bg-color=827f7988
layout-border-color=bcbab6
layout-text-color=f6f6f4
line-color=827f79
line-clear-color=827f79
line-caps-lock-color=975c34
line-ver-color=1e3caa
line-wrong-color=a04d20
ring-color=e1c355
ring-caps-lock-color=e1c355
ring-clear-color=5fb2df
ring-ver-color=1e3caa
ring-wrong-color=a04d20
text-color=f6f6f4
#text-clear-color=5fb2df
text-clear-color=f6f6f4
text-caps-lock-color=f6f6f4
text-ver-color=f6f6f4
text-wrong-color=f6f6f4
