# COLOUR (base16)
color=4c111b
bs-hl-color=852535
caps-lock-bs-hl-color=852535
caps-lock-key-hl-color=10ac6a
inside-color=85616388
#inside-clear-color=85616388
inside-clear-color=20c0f488
inside-ver-color=1137a488
inside-wrong-color=b0895788
key-hl-color=10ac6a
layout-bg-color=85616388
layout-border-color=ac9693
layout-text-color=d3ccc3
line-color=856163
line-clear-color=856163
line-caps-lock-color=852535
line-ver-color=1137a4
line-wrong-color=b08957
ring-color=eec85b
ring-caps-lock-color=eec85b
ring-clear-color=20c0f4
ring-ver-color=1137a4
ring-wrong-color=b08957
text-color=d3ccc3
#text-clear-color=20c0f4
text-clear-color=d3ccc3
text-caps-lock-color=d3ccc3
text-ver-color=d3ccc3
text-wrong-color=d3ccc3
