# COLOUR (base16)
color=1f2926
bs-hl-color=655452
caps-lock-bs-hl-color=655452
caps-lock-key-hl-color=668451
inside-color=696f6d88
#inside-clear-color=696f6d88
inside-clear-color=629bc688
inside-ver-color=375e9e88
inside-wrong-color=9d643988
key-hl-color=668451
layout-bg-color=696f6d88
layout-border-color=9a9e9d
layout-text-color=cccdcd
line-color=696f6d
line-clear-color=696f6d
line-caps-lock-color=655452
line-ver-color=375e9e
line-wrong-color=9d6439
ring-color=c8a161
ring-caps-lock-color=c8a161
ring-clear-color=629bc6
ring-ver-color=375e9e
ring-wrong-color=9d6439
text-color=cccdcd
#text-clear-color=629bc6
text-clear-color=cccdcd
text-caps-lock-color=cccdcd
text-ver-color=cccdcd
text-wrong-color=cccdcd
