# COLOUR (base16)
color=1c2a22
bs-hl-color=814458
caps-lock-bs-hl-color=814458
caps-lock-key-hl-color=67b09c
inside-color=6d786e88
#inside-clear-color=6d786e88
inside-clear-color=68b19d88
inside-ver-color=45223e88
inside-wrong-color=974e6288
key-hl-color=67b09c
layout-bg-color=6d786e88
layout-border-color=a3aca1
layout-text-color=dae0d5
line-color=6d786e
line-clear-color=6d786e
line-caps-lock-color=814458
line-ver-color=45223e
line-wrong-color=974e62
ring-color=baddc1
ring-caps-lock-color=baddc1
ring-clear-color=68b19d
ring-ver-color=45223e
ring-wrong-color=974e62
text-color=dae0d5
#text-clear-color=68b19d
text-clear-color=dae0d5
text-caps-lock-color=dae0d5
text-ver-color=dae0d5
text-wrong-color=dae0d5
