# COLOUR (base16)
color=182835
bs-hl-color=8d5452
caps-lock-bs-hl-color=8d5452
caps-lock-key-hl-color=2c7e68
inside-color=6b6c6d88
#inside-clear-color=6b6c6d88
inside-clear-color=549dc788
inside-ver-color=4f74b288
inside-wrong-color=ab623888
key-hl-color=2c7e68
layout-bg-color=6b6c6d88
layout-border-color=a39a92
layout-text-color=dbc8b8
line-color=6b6c6d
line-clear-color=6b6c6d
line-caps-lock-color=8d5452
line-ver-color=4f74b2
line-wrong-color=ab6238
ring-color=b08b4d
ring-caps-lock-color=b08b4d
ring-clear-color=549dc7
ring-ver-color=4f74b2
ring-wrong-color=ab6238
text-color=dbc8b8
#text-clear-color=549dc7
text-clear-color=dbc8b8
text-caps-lock-color=dbc8b8
text-ver-color=dbc8b8
text-wrong-color=dbc8b8
