# COLOUR (base16)
color=1c2831
bs-hl-color=a62b2b
caps-lock-bs-hl-color=a62b2b
caps-lock-key-hl-color=3d6a52
inside-color=67747988
#inside-clear-color=67747988
inside-clear-color=93d9c888
inside-ver-color=2e4bba88
inside-wrong-color=ff050988
key-hl-color=3d6a52
layout-bg-color=67747988
layout-border-color=9aa7a9
layout-text-color=cddad9
line-color=677479
line-clear-color=677479
line-caps-lock-color=a62b2b
line-ver-color=2e4bba
line-wrong-color=ff0509
ring-color=d1b445
ring-caps-lock-color=d1b445
ring-clear-color=93d9c8
ring-ver-color=2e4bba
ring-wrong-color=ff0509
text-color=cddad9
#text-clear-color=93d9c8
text-clear-color=cddad9
text-caps-lock-color=cddad9
text-ver-color=cddad9
text-wrong-color=cddad9
