# COLOUR (base16)
color=252729
bs-hl-color=855b5b
caps-lock-bs-hl-color=855b5b
caps-lock-key-hl-color=098379
inside-color=676f7088
#inside-clear-color=676f7088
inside-clear-color=4dc2be88
inside-ver-color=0a676c88
inside-wrong-color=b23d4188
key-hl-color=098379
layout-bg-color=676f7088
layout-border-color=939f9f
layout-text-color=c0cfcf
line-color=676f70
line-clear-color=676f70
line-caps-lock-color=855b5b
line-ver-color=0a676c
line-wrong-color=b23d41
ring-color=f59893
ring-caps-lock-color=f59893
ring-clear-color=4dc2be
ring-ver-color=0a676c
ring-wrong-color=b23d41
text-color=c0cfcf
#text-clear-color=4dc2be
text-clear-color=c0cfcf
text-caps-lock-color=c0cfcf
text-ver-color=c0cfcf
text-wrong-color=c0cfcf
