# COLOUR (base16)
color=1a273a
bs-hl-color=ad6b1d
caps-lock-bs-hl-color=ad6b1d
caps-lock-key-hl-color=3f4551
inside-color=646c8888
#inside-clear-color=646c8888
inside-clear-color=5294e288
inside-ver-color=4674ad88
inside-wrong-color=ad6b1d88
key-hl-color=3f4551
layout-bg-color=646c8888
layout-border-color=969abd
layout-text-color=c8c8f2
line-color=646c88
line-clear-color=646c88
line-caps-lock-color=ad6b1d
line-ver-color=4674ad
line-wrong-color=ad6b1d
ring-color=b98b52
ring-caps-lock-color=b98b52
ring-clear-color=5294e2
ring-ver-color=4674ad
ring-wrong-color=ad6b1d
text-color=c8c8f2
#text-clear-color=5294e2
text-clear-color=c8c8f2
text-caps-lock-color=c8c8f2
text-ver-color=c8c8f2
text-wrong-color=c8c8f2
