# COLOUR (base16)
color=272726
bs-hl-color=937059
caps-lock-bs-hl-color=937059
caps-lock-key-hl-color=407655
inside-color=73777688
#inside-clear-color=73777688
inside-clear-color=61cbd288
inside-ver-color=15569688
inside-wrong-color=9e342d88
key-hl-color=407655
layout-bg-color=73777688
layout-border-color=a6adab
layout-text-color=dae3e1
line-color=737776
line-clear-color=737776
line-caps-lock-color=937059
line-ver-color=155696
line-wrong-color=9e342d
ring-color=eaa969
ring-caps-lock-color=eaa969
ring-clear-color=61cbd2
ring-ver-color=155696
ring-wrong-color=9e342d
text-color=dae3e1
#text-clear-color=61cbd2
text-clear-color=dae3e1
text-caps-lock-color=dae3e1
text-ver-color=dae3e1
text-wrong-color=dae3e1
