# COLOUR (base16)
color=441a11
bs-hl-color=9c412e
caps-lock-bs-hl-color=9c412e
caps-lock-key-hl-color=238474
inside-color=85686588
#inside-clear-color=85686588
inside-clear-color=12b5ae88
inside-ver-color=0539b788
inside-wrong-color=ed4a5188
key-hl-color=238474
layout-bg-color=85686588
layout-border-color=b09c9d
layout-text-color=dcd0d6
line-color=856865
line-clear-color=856865
line-caps-lock-color=9c412e
line-ver-color=0539b7
line-wrong-color=ed4a51
ring-color=a06a3f
ring-caps-lock-color=a06a3f
ring-clear-color=12b5ae
ring-ver-color=0539b7
ring-wrong-color=ed4a51
text-color=dcd0d6
#text-clear-color=12b5ae
text-clear-color=dcd0d6
text-caps-lock-color=dcd0d6
text-ver-color=dcd0d6
text-wrong-color=dcd0d6
