# COLOUR (base16)
color=0f3c3c
bs-hl-color=a0451b
caps-lock-bs-hl-color=a0451b
caps-lock-key-hl-color=25a36e
inside-color=607f8088
#inside-clear-color=607f8088
inside-clear-color=50b3e288
inside-ver-color=65a0d288
inside-wrong-color=af4c1d88
key-hl-color=25a36e
layout-bg-color=607f8088
layout-border-color=97acad
layout-text-color=cedadb
line-color=607f80
line-clear-color=607f80
line-caps-lock-color=a0451b
line-ver-color=65a0d2
line-wrong-color=af4c1d
ring-color=9a5f2d
ring-caps-lock-color=9a5f2d
ring-clear-color=50b3e2
ring-ver-color=65a0d2
ring-wrong-color=af4c1d
text-color=cedadb
#text-clear-color=50b3e2
text-clear-color=cedadb
text-caps-lock-color=cedadb
text-ver-color=cedadb
text-wrong-color=cedadb
