#openbox themerc edited with obtheme
border.width: 2
padding.width: 2

# Menu
menu.border.width: 1
menu.border.color: #{{base0E-hex}}
menu.items.active.bg: flat
menu.items.active.bg.color: #{{base0E-hex}}
menu.items.active.text.color: #FFFFFF
menu.items.bg: Solid Flat
menu.items.bg.color: #{{base00-hex}}
menu.items.disabled.text.color: #{{base05-hex}}
menu.items.font: shadow=n
menu.items.text.color: #{{base07-hex}}
menu.overlap.x: -3
menu.overlap.y: 0
menu.title.bg: flat
menu.title.bg.color: #{{base0F-hex}}
menu.title.text.color: #{{base07-hex}}
menu.title.text.justify: center

# Windows
window.handle.width: 0
window.label.text.justify: center

# Active window
window.active.border.color: #{{base0E-hex}}
window.active.button.disabled.bg: parentrelative
window.active.button.disabled.image.color: #{{base03-hex}}
window.active.button.hover.image.color: #{{base05-hex}}
window.active.button.pressed.bg: parentrelative
window.active.button.pressed.image.color: #{{base06-hex}}
window.active.button.unpressed.bg: parentrelative
window.active.button.unpressed.image.color: #{{base05-hex}}
window.active.button.close.hover.image.color: #{{base09-hex}}
window.active.button.close.pressed.image.color: #{{base08-hex}}
window.active.client.color: #FFFFFF
window.active.label.bg: parentrelative
window.active.label.text.color: #{{base07-hex}}
window.active.title.bg: gradient vertical gradient flat
window.active.title.bg.color: #{{base00-hex}}
window.active.title.bg.colorTo: #{{base00-hex}}

# Inactive window
window.inactive.border.color: #{{base03-hex}}
window.inactive.button.disabled.bg: parentrelative
window.inactive.button.disabled.image.color: #{{base05-hex}}
window.inactive.button.toggled.hover.bg: parentrelative
window.inactive.button.toggled.hover.bg: parentrelative
window.inactive.button.toggled.unpressed.bg: parentrelative
window.inactive.button.unpressed.bg: parentrelative
window.inactive.button.unpressed.image.color: #{{base05-hex}}
window.inactive.client.color: #{{base05-hex}}
window.inactive.grip.bg: Solid Flat
window.inactive.grip.bg.color: #{{base02-hex}}
window.inactive.label.bg: parentrelative
window.inactive.label.text.color: #{{base05-hex}}
window.inactive.title.bg: Gradient Vertical Flat
window.inactive.title.bg.color: #{{base02-hex}}
window.inactive.title.bg.colorTo: #{{base02-hex}}

# OSD
osd.bg: Solid Flat
osd.bg.color: #{{base00-hex}}
#osd.border.color: #{{base0E-hex}}
#osd.border.width: 2
osd.hilight.bg: Solid Raised
osd.hilight.bg.color: #{{base0E-hex}}
osd.unhilight.bg: Solid Sunken Bevel2 Border
osd.unhilight.bg.color: #{{base03-hex}}
osd.label.bg: Solid Flat
osd.label.bg.color: #{{base0E-hex}}
osd.label.text.color: white
