#openbox themerc edited with obtheme
border.width: 2
padding.width: 2
magnifier.border.width: 2
magnifier.border.color: #{{base08-hex}}

# Menu
menu.border.width: 1
menu.border.color: #{{base0E-hex}}
# menu.width.min: 20
# menu.width.max: 200
# menu.items.padding.x: 7
# menu.items.padding.y: 4
# menu.separator.width: 1
# menu.separator.padding.width: 6
# menu.separator.padding.height: 3
# menu.separator.color: #{{base07-hex}}
menu.items.active.bg: flat
menu.items.active.bg.color: #{{base0E-hex}}
menu.items.active.text.color: #FFFFFF
menu.items.bg: Solid Flat
menu.items.bg.color: #{{base00-hex}}
menu.items.disabled.text.color: #{{base05-hex}}
menu.items.font: shadow=n
menu.items.text.color: #{{base07-hex}}
menu.overlap.x: -3
menu.overlap.y: 0
menu.title.bg: flat
menu.title.bg.color: #{{base0F-hex}}
menu.title.text.color: #{{base07-hex}}
menu.title.text.justify: center

# Windows
window.handle.width: 0
window.label.text.justify: center

# Active window
window.active.border.color: #{{base0E-hex}}
window.active.button.disabled.bg: parentrelative
window.active.button.disabled.image.color: #{{base03-hex}}
window.active.button.hover.image.color: #{{base05-hex}}
window.active.button.pressed.bg: parentrelative
window.active.button.pressed.image.color: #{{base06-hex}}
window.active.button.unpressed.bg: parentrelative
window.active.button.unpressed.image.color: #{{base05-hex}}
window.active.button.close.hover.image.color: #{{base09-hex}}
window.active.button.close.pressed.image.color: #{{base08-hex}}
window.active.client.color: #FFFFFF
window.active.label.bg: parentrelative
window.active.label.text.color: #{{base07-hex}}
window.active.title.bg: gradient vertical gradient flat
window.active.title.bg.color: #{{base00-hex}}
window.active.title.bg.colorTo: #{{base00-hex}}

# Inactive window
window.inactive.border.color: #{{base03-hex}}
window.inactive.button.disabled.bg: parentrelative
window.inactive.button.disabled.image.color: #{{base05-hex}}
window.inactive.button.toggled.hover.bg: parentrelative
window.inactive.button.toggled.hover.bg: parentrelative
window.inactive.button.toggled.unpressed.bg: parentrelative
window.inactive.button.unpressed.bg: parentrelative
window.inactive.button.unpressed.image.color: #{{base05-hex}}
window.inactive.client.color: #{{base05-hex}}
window.inactive.grip.bg: Solid Flat
window.inactive.grip.bg.color: #{{base02-hex}}
window.inactive.label.bg: parentrelative
window.inactive.label.text.color: #{{base05-hex}}
window.inactive.title.bg: Gradient Vertical Flat
window.inactive.title.bg.color: #{{base02-hex}}
window.inactive.title.bg.colorTo: #{{base02-hex}}

# OSD
osd.bg: Solid Flat
osd.bg.color: #{{base00-hex}}
# osd.border.color: #{{base0E-hex}}
# osd.border.width: 2
osd.label.text.color: #{{base07-hex}}
# osd.window-switcher.width: 600
# osd.window-switcher.padding: 4
# osd.window-switcher.item.padding.x: 10
# osd.window-switcher.item.padding.y: 1
# osd.window-switcher.item.active.border.width: 2
# osd.window-switcher.item.icon.size: 16
# osd.window-switcher.preview.border.width: 2
# osd.window-switcher.preview.border.color: #{{base00-hex}}
# osd.workspace-switcher.boxes.width: 20
# osd.workspace-switcher.boxes.height: 20
# osd.workspace-switcher.boxes.border.width: 2
osd.hilight.bg: Solid Raised
osd.hilight.bg.color: #{{base0E-hex}}
osd.unhilight.bg: Solid Sunken Bevel2 Border
osd.unhilight.bg.color: #{{base03-hex}}
osd.label.bg: Solid Flat
osd.label.bg.color: #{{base0E-hex}}

# snapping.overlay.region.bg.enabled: yes
# snapping.overlay.edge.bg.enabled: yes
# snapping.overlay.region.border.enabled: no
# snapping.overlay.edge.border.enabled: no
# snapping.overlay.region.bg.color: #{{base00-hex}}80
# snapping.overlay.edge.bg.color: #{{base00-hex}}80
# snapping.overlay.region.border.width: 2
# snapping.overlay.edge.border.width: 2
# snapping.overlay.region.border.color: #{{base00-hex}}
# snapping.overlay.edge.border.color: #{{base0E-hex}}
