
* {
  font-family: "Noto Sans Regular";
  font-size: 12px;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

@import "colors.css";
/* Custom theme based on base16 system */           /* To Make Ironbar follow the GTK theme replace with colors bellow */
@define-color bg-color @base00;                     /* @theme_bg_color */
@define-color fg-color @base07;                     /* @theme_fg_color */
@define-color primary-color @base0E;                /* @theme_selected_bg_color */
@define-color secondary-color @base0F;
@define-color border-color @base03;                 /* @borders */
@define-color selected-bg-color @primary-color;     /* @theme_selected_bg_color */
@define-color selected-fg-color @fg-color;          /* @theme_selected_fg_color */
@define-color b-warning-color @base08;              /* @warning_color */
@define-color b-warning-fg-color @fg-color;         /* @warning_fg_color */


.background {
  background: alpha(@bg-color, 0.8);
}

#start-menu {
  background: alpha(@bg-color, 0.8);

  color: @fg-color;
  border: 1px solid @border-color;
  border-radius: 5px;
  padding: 0 5px;
  margin: 3px 5px;
}

/* -- workspaces -- */
.workspaces {
/*   margin-left: 2px; */
  margin-right: 5px;
}

.workspaces .item {
  background: alpha(@bg-color, 0.8);
  border: 1px solid alpha(@fg-color, 0.333);
/*   border-radius: 10px; */
  border-radius: 50%;
  color: @selected-fg-color;
  padding: 1px 4px;
  margin: 4px 2px;
}

.workspaces .item.visible {
  background: transparent;
  color: @bg-color;
}

/*.workspaces .item.inactive {
}*/

.workspaces .item.focused {
  background: alpha(@selected-bg-color, 0.666);
  border-color: @selected-bg-color;
  color: @selected-fg-color;
}

/* -- launcher -- */

.launcher {
  background: @bg-color;
  border: 1px solid @bg-color; /* @borders */
  border-radius: 5px;
  margin: 1px 0;
  padding: 0;
}

.launcher .item {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.launcher .item image {
  padding: 3px 7px;
}

.launcher .item:hover {
  background-color: alpha(@selected-bg-color, 0.333);
  border-bottom: 2px solid @selected-bg-color;
}

.launcher .ifix examtem:not(.focused):hover {
  background-color: @selected-bg-color;
}

.launcher .open {
  border-bottom: 2px solid @bg-color;
}

.launcher .focused {
  border-bottom: 2px solid @selected-bg-color;
}

.launcher .focused image {
  background-color: alpha(@selected-bg-color, 0.333);
}

.launcher .urgent {
  border-bottom-color: alpha(red, 0.333);
}

.popup-launcher {
  padding: 0;
  /*background: @bg-color;*/
  background: alpha(@bg-color, 0.8);
  border: 1px solid @border-color;
  border-radius: 5px;
}

.popup-launcher .popup-item {
  border-bottom: 2px solid @bg-color;
}

.popup-launcher .popup-item:hover {
  border-color: @selected-bg-color;
  border-bottom-width: 2px;
  background-color: alpha(@selected-bg-color, 0.33);
}

/* -- focused -- */

#focused-window {
  /*
  background-color: alpha(@selected-bg-color, 0.5);
  border: 1px solid @selected-bg-color;
  border-radius: 5px;
  */
  color: @selected-fg-color;
  padding: 0 7px;
  margin: 3px 5px;
}

/* -- sysinfo -- */

.sysinfo {
  border: 1px solid @selected-bg-color;
  border-radius: 10px;
  background: alpha(@selected-bg-color, 0.5);
  padding: 0 7px;
/*   margin: 1px 5px 1px 0; */
  margin: 4px 0;
}

.sysinfo .item {
  color: @selected-fg-color;

}

/* -- clipboard -- */

.clipboard {
  font-size: 1em;
  /*background: @bg-color;*/
  background: transparent;
  border: 0;
  border-radius: 0 ;
  margin: 1px 0;
}

.popup-clipboard {
  background: @bg-color;
  border: 1px solid @border-color;
  border-radius: 5px;
  padding: 5px 7px;

}

.popup-clipboard .item {
/*   padding-bottom: 0.3em; */
  border-left: 3px solid @border-color;
  background: @bg-color;
  padding: 5px;
}

.popup-clipboard .item .btn-remove {
  border: 1px solid @border-color;
  padding: 5px;
}

.popup-clipboard .item .btn-remove:hover {
  border: 1px solid @selected-bg-color;
  background: alpha( @selected-bg-color, 0.333);
}

/* notifications */

.notifications button {
  font-size: 1.2rem;
  color: @fg-color;
  margin: 1px 0 1px 5px;
  /*background: @bg-color;*/
  background: transparent;
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 0 5px 0 7px;
}

.notifications .count {
  font-size: 0.6rem;
  font-weight: bold;
  background-color: @b-warning-color;
  color: @b-warning-fg-color;
  border-radius: 100%;
  margin-right: 3px;
  margin-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
/*   opacity: 0.7; */
}

/* -- Volume -- */

.volume {
  /*   margin: 0 3px; */
  margin: 1px 7px 1px 2px;
  padding: 0;
/*     background: @bg-color; */
  background: transparent;
  border: 0;
  border-radius: 0;
  color: @fg-color;

}

.popup-volume {
  background: @bg-color;
  border-radius: 5px;
  border: 1px solid @border-color;

  padding: 5px 7px;
}

/* -- Upower -- */

.upower {
/*   margin: 0 3px; */
  margin: 1px 0;
  padding: 0;
/*   background: @bg-color; */
  background: transparent;
  border: 0;
  border-radius: 0;
  color: @fg-color;

}

.popup-upower {
  border-radius: 5px;
}

/* -- tray -- */

.tray {
/*   margin: 0 5px; */
  margin: 1px 0;
  padding: 0 5px;
  border-radius: 0 5px 5px 0;
/*   background: @bg-color; */
  background: transparent;
}

.tray .item {
  padding: 0;
  margin: 0;
}

.tray .item:hover {
  background-color: @selected-bg-color;
}


/* -- Date & Time -- */

.clock {
  background: alpha(@bg-color, 0.8);

  color: @fg-color;
  border: 1px solid @border-color;
  border-radius: 5px;
  padding: 0 7px;
  margin: 3px 5px;
}

.popup-clock {
  background: @bg-color;
  border: 1px solid @border-color;
  border-radius: 5px;

  padding: 5px 7px;
}
.popup-clock .calendar-clock {
/*   font-size: 2em; */
/*   font-weight: bold; */
  padding: 5px;
}

.popup-clock .calendar {
  border: 1px solid @border-color;
  border-radius: 5px;

  padding: 5px;
}

.popup-clock .calendar .header {
  border-radius: 0;
}

.popup-clock .calendar:selected {
/*   background-color: alpha(@selected-bg-color, 0.333); */
  border: 1px solid @selected-bg-color;
  border-radius: 0;
}

/* -- Logout button -- */

#logbutton {
  background: alpha(@b-warning-color, 0.666);
  border: 1px solid @b-warning-color;
  border-radius: 5px;
  padding: 0 4px;
  margin: 3px 3px 3px 0;
}

#logbutton:hover {
  background: alpha(@b-warning-color, 1);
}
