
* {
    color0:     #0d2733;
    color1:     #2b424d;
    color2:     #4a5e67;
    color3:     #697a81;
    color4:     #87969c;
    color5:     #a6b2b6;
    color6:     #c5ced0;
    color7:     #e4eaeb;
    color8:     #b8511a;
    color9:     #e57b42;
    color10:    #ea9760;
    color11:    #0e6b83;
    color12:    #47aee4;
    color12:    #14679f;
    color14:    #8b4a42;
    color15:    #9c3e22;
    background: @color0;
    foreground: @color7;
}
