# COLOUR (base16)
color=22291a
bs-hl-color=534954
caps-lock-bs-hl-color=534954
caps-lock-key-hl-color=61733f
inside-color=686d5c88
#inside-clear-color=686d5c88
inside-clear-color=8585c388
inside-ver-color=4d488088
inside-wrong-color=7a7a3c88
key-hl-color=61733f
layout-bg-color=686d5c88
layout-border-color=979b88
layout-text-color=c7c9b5
line-color=686d5c
line-clear-color=686d5c
line-caps-lock-color=534954
line-ver-color=4d4880
line-wrong-color=7a7a3c
ring-color=b2b77f
ring-caps-lock-color=b2b77f
ring-clear-color=8585c3
ring-ver-color=4d4880
ring-wrong-color=7a7a3c
text-color=c7c9b5
#text-clear-color=8585c3
text-clear-color=c7c9b5
text-caps-lock-color=c7c9b5
text-ver-color=c7c9b5
text-wrong-color=c7c9b5
