
* {
    color0:     #152a2c;
    color1:     #2c4141;
    color2:     #445856;
    color3:     #5c6f6c;
    color4:     #738781;
    color5:     #8b9e97;
    color6:     #a3b5ac;
    color7:     #bbcdc2;
    color8:     #fe0304;
    color9:     #f06823;
    color10:    #f7874c;
    color11:    #0e795f;
    color12:    #c6c5bb;
    color12:    #0777b3;
    color14:    #6d518b;
    color15:    #a72b2a;
    background: @color0;
    foreground: @color7;
}
