# Scheme name: {{scheme-name}}
# Scheme system: {{scheme-system}}
# Scheme author: {{scheme-author}}
# Template author: Tinted Theming (https://github.com/tinted-theming)

alias sweep="sweep --theme \"bg=#{{base01-hex}},fg=#{{base06-hex}},accent=#{{base0E-hex}}\""
