
* {
    color0:     #1d282f;
    color1:     #373f44;
    color2:     #51565a;
    color3:     #6b6d70;
    color4:     #868585;
    color5:     #a09c9b;
    color6:     #bab3b1;
    color7:     #d5cbc7;
    color8:     #a75169;
    color9:     #ae917b;
    color10:    #bbb491;
    color11:    #38976d;
    color12:    #65b49e;
    color12:    #5a6492;
    color14:    #977388;
    color15:    #956b79;
    background: @color0;
    foreground: @color7;
}
