<?xml version='1.0' encoding='UTF-8'?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Openbox 3">
    <separator label="Openbox 3 Menu" />
    <item label="Run command" icon="system-run">
      <action name="Execute">
        <command>anyrun</command>
      </action>
    </item>
    <item label="File Manager" icon="system-file-manager">
      <action name="Execute">
        <command>xdg-open ~</command>
      </action>
    </item>
    <item label="Terminal" icon="utilities-terminal">
      <action name="Execute">
        <command>konsole</command>
      </action>
    </item>
    <item label="Web Browser" icon="internet-web-browser">
      <action name="Execute">
        <command>xdg-open http:///</command>
      </action>
    </item>
    <separator />
    <menu id="apps-menu" label="Applications" icon="" execute="labwc-menu-generator -n -p -I" />
    <menu id="openbox-pref-menu" label="Labwc" icon="labwc">
      <menu id="ob-commands" label="Labwc commands" icon="labwc">
        <item label="Reconfigure Labwc">
          <action name="Reconfigure" />
        </item>
        <item label="Exit Labwc">
          <action name="Exit" />
        </item>
      </menu>
      <menu id="ob-keybinds-menu" label="Labwc Keybindings" icon="" execute="/home/salo/.config/labwc/ob-keybindings-1.py" />
    </menu>
    <separator />
    <menu id="session-menu" label="Session" icon="system-reboot">
      <item label="Logout" icon="system-log-out">
        <action name="Execute">
          <command>so-confirm-logout-yad.sh logout</command>
        </action>
      </item>
      <item label="Hibernate" icon="system-hibernate">
        <action name="Execute">
          <command>so-confirm-logout-yad.sh hibernate</command>
        </action>
      </item>
      <item label="Suspend" icon="system-suspend">
        <action name="Execute">
          <command>so-confirm-logout-yad.sh suspend</command>
        </action>
      </item>
      <item label="Reboot" icon="system-reboot">
        <action name="Execute">
          <command>so-confirm-logout-yad.sh reboot</command>
        </action>
      </item>
      <item label="Shutdown" icon="system-shutdown">
        <action name="Execute">
          <command>so-confirm-logout-yad.sh shutdown</command>
        </action>
      </item>
      <item label="Lock" icon="system-lock-screen">
        <action name="Execute">
          <command>so-confirm-logout-yad.sh lock</command>
        </action>
      </item>
    </menu>
    <separator />
  </menu>
</openbox_menu>
