# Scheme name: {{scheme-name}}
# Scheme system: {{scheme-system}}
# Scheme author: {{scheme-author}}
# Template author: Tinted Theming (https://github.com/tinted-theming)

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:#{{base02-hex}},bg:#{{base01-hex}},spinner:#{{base0C-hex}},hl:#{{base0D-hex}}"\
" --color=fg:#{{base06-hex}},header:#{{base0A-hex}},info:#{{base09-hex}},pointer:#{{base0C-hex}}"\
" --color=marker:#{{base0C-hex}},fg+:#{{base07-hex}},prompt:#{{base09-hex}},hl+:#{{base0D-hex}}"
