# Scheme name: 10-jpg
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#172932'
local color01='#2f4048'
local color02='#47585f'
local color03='#5f6f75'
local color04='#77878c'
local color05='#8f9ea2'
local color06='#a7b6b9'
local color07='#bfced0'
local color08='#b8414e'
local color09='#c78839'
local color0A='#cc9a66'
local color0B='#57a061'
local color0C='#13bde1'
local color0D='#0714c2'
local color0E='#791469'
local color0F='#8f2249'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
