# Scheme name: grass-jpg
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#2b2524'
local color01='#433d3b'
local color02='#5c5653'
local color03='#756f6b'
local color04='#8d8782'
local color05='#a6a09a'
local color06='#bfb9b2'
local color07='#d8d2ca'
local color08='#c95527'
local color09='#f67c25'
local color0A='#f7b74c'
local color0B='#3fae75'
local color0C='#36aad7'
local color0D='#083ed4'
local color0E='#895194'
local color0F='#a95c6a'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

export SKIM_DEFAULT_OPTIONS="$SKIM_DEFAULT_OPTIONS"\
" --color='bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B,fg:$color06,header:$color09,info:$color0A,pointer:$color0C,marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B'"

}

_gen_fzf_default_opts
