# Scheme name: adaptive-jpg
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1d292c'
local color01='#333f42'
local color02='#495659'
local color03='#606d70'
local color04='#768387'
local color05='#8d9a9e'
local color06='#a3b1b5'
local color07='#bac8cc'
local color08='#c3767d'
local color09='#d58283'
local color0A='#d5988d'
local color0B='#006756'
local color0C='#3c8982'
local color0D='#2a6772'
local color0E='#c3767d'
local color0F='#422f43'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
