# Scheme name: 9uPsXc8-jpg
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1d2830'
local color01='#353e42'
local color02='#4d5455'
local color03='#666b68'
local color04='#7e817b'
local color05='#97988e'
local color06='#afaea1'
local color07='#c8c5b4'
local color08='#aa4a45'
local color09='#ad8040'
local color0A='#c0ad6b'
local color0B='#778f44'
local color0C='#5cb8bc'
local color0D='#455aa3'
local color0E='#96516e'
local color0F='#897f6c'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

export SKIM_DEFAULT_OPTIONS="$SKIM_DEFAULT_OPTIONS"\
" --color='bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B,fg:$color06,header:$color09,info:$color0A,pointer:$color0C,marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B'"

}

_gen_fzf_default_opts
