# Scheme name: 6-png
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1e2833'
local color01='#3a434c'
local color02='#575f65'
local color03='#737b7e'
local color04='#909798'
local color05='#acb3b1'
local color06='#c9cfca'
local color07='#e6ebe4'
local color08='#ce482d'
local color09='#f1a42e'
local color0A='#ffd04e'
local color0B='#4e973e'
local color0C='#37c2eb'
local color0D='#080ff5'
local color0E='#632b72'
local color0F='#a76c34'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
