# Scheme name: fishpool-jpg
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#2d261a'
local color01='#474237'
local color02='#625e54'
local color03='#7c7a71'
local color04='#97978e'
local color05='#b1b3ab'
local color06='#cccfc8'
local color07='#e7ece6'
local color08='#866879'
local color09='#e26164'
local color0A='#c99e8c'
local color0B='#067e72'
local color0C='#43fcee'
local color0D='#457c93'
local color0E='#7b6297'
local color0F='#8f5144'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

export SKIM_DEFAULT_OPTIONS="$SKIM_DEFAULT_OPTIONS"\
" --color='bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B,fg:$color06,header:$color09,info:$color0A,pointer:$color0C,marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B'"

}

_gen_fzf_default_opts
