# Scheme name: extra-11-jpg
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1b292d'
local color01='#374446'
local color02='#535f60'
local color03='#6f7a79'
local color04='#8b9593'
local color05='#a7b0ac'
local color06='#c3cbc6'
local color07='#dfe7e0'
local color08='#9f6362'
local color09='#a58b79'
local color0A='#bdb599'
local color0B='#7b8c7e'
local color0C='#77abac'
local color0D='#5c678e'
local color0E='#935961'
local color0F='#847784'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
