# Scheme name: nature-15-jpg
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#35221b'
local color01='#4a3931'
local color02='#605148'
local color03='#75685f'
local color04='#8b8075'
local color05='#a0978c'
local color06='#b6afa3'
local color07='#ccc7ba'
local color08='#687d96'
local color09='#91a3a5'
local color0A='#e1d168'
local color0B='#239e95'
local color0C='#18e9e5'
local color0D='#1e2e99'
local color0E='#4a489b'
local color0F='#a12928'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

export SKIM_DEFAULT_OPTIONS="$SKIM_DEFAULT_OPTIONS"\
" --color='bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B,fg:$color06,header:$color09,info:$color0A,pointer:$color0C,marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B'"

}

_gen_fzf_default_opts
