# Scheme name: bird-png
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#2c261e'
local color01='#48433c'
local color02='#65615b'
local color03='#827f79'
local color04='#9f9c98'
local color05='#bcbab6'
local color06='#d9d8d5'
local color07='#f6f6f4'
local color08='#a04d20'
local color09='#62809a'
local color0A='#e1c355'
local color0B='#325266'
local color0C='#5fb2df'
local color0D='#1e3caa'
local color0E='#764d36'
local color0F='#975c34'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
