# Scheme name: extra-10-png
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#3f1248'
local color01='#512d59'
local color02='#63486a'
local color03='#75637c'
local color04='#877e8d'
local color05='#99999f'
local color06='#abb4b0'
local color07='#bdcfc2'
local color08='#9d2565'
local color09='#e4ac74'
local color0A='#f4cd80'
local color0B='#62c273'
local color0C='#65da9c'
local color0D='#0b3281'
local color0E='#731986'
local color0F='#c45b6f'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
