# Scheme name: vlcsnap-2024-10-01-04h34m38s154-png
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#25253a'
local color01='#3d3d4d'
local color02='#565560'
local color03='#6e6d73'
local color04='#878587'
local color05='#9f9d9a'
local color06='#b8b5ad'
local color07='#d1cec1'
local color08='#c72b0d'
local color09='#e4a65c'
local color0A='#bdad67'
local color0B='#479b3c'
local color0C='#33a6da'
local color0D='#1335d6'
local color0E='#424162'
local color0F='#904b5b'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
