# Scheme name: akJj-jpg
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1e2541'
local color01='#3b415a'
local color02='#595e73'
local color03='#777b8c'
local color04='#9498a6'
local color05='#b2b5bf'
local color06='#d0d2d8'
local color07='#eeeff2'
local color08='#ea4408'
local color09='#ea8519'
local color0A='#f3a13c'
local color0B='#20ad6e'
local color0C='#3fd8b1'
local color0D='#0b5dc2'
local color0E='#725e91'
local color0F='#a0451e'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

export SKIM_DEFAULT_OPTIONS="$SKIM_DEFAULT_OPTIONS"\
" --color='bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B,fg:$color06,header:$color09,info:$color0A,pointer:$color0C,marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B'"

}

_gen_fzf_default_opts
