# Scheme name: sundown-over-water-jpg
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#4c111b'
local color01='#5f2b33'
local color02='#72464b'
local color03='#856163'
local color04='#997b7b'
local color05='#ac9693'
local color06='#bfb1ab'
local color07='#d3ccc3'
local color08='#b08957'
local color09='#bd955f'
local color0A='#eec85b'
local color0B='#10ac6a'
local color0C='#20c0f4'
local color0D='#1137a4'
local color0E='#685c7e'
local color0F='#852535'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
