# Scheme name: 1-png
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#0d2732'
local color01='#273d44'
local color02='#425357'
local color03='#5d6a6a'
local color04='#78807d'
local color05='#939790'
local color06='#aeada3'
local color07='#c9c4b6'
local color08='#e5173e'
local color09='#d99070'
local color0A='#edb47d'
local color0B='#1ebc89'
local color0C='#14ecd4'
local color0D='#1738c3'
local color0E='#862c60'
local color0F='#b62440'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
