# Scheme name: green-png
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1c2a22'
local color01='#37443b'
local color02='#525e55'
local color03='#6d786e'
local color04='#889288'
local color05='#a3aca1'
local color06='#bec6bb'
local color07='#dae0d5'
local color08='#974e62'
local color09='#984f63'
local color0A='#baddc1'
local color0B='#67b09c'
local color0C='#68b19d'
local color0D='#45223e'
local color0E='#7b4157'
local color0F='#814458'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
