# Scheme name: 9-jpg
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#272726'
local color01='#404140'
local color02='#5a5c5b'
local color03='#737776'
local color04='#8d9290'
local color05='#a6adab'
local color06='#c0c8c6'
local color07='#dae3e1'
local color08='#9e342d'
local color09='#e1875a'
local color0A='#eaa969'
local color0B='#407655'
local color0C='#61cbd2'
local color0D='#155696'
local color0E='#5f276d'
local color0F='#937059'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
