# Scheme name: snow-png
# Scheme system: base16
# Scheme author: Tinty
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#0f3c3c'
local color01='#2a5252'
local color02='#456969'
local color03='#607f80'
local color04='#7c9696'
local color05='#97acad'
local color06='#b2c3c4'
local color07='#cedadb'
local color08='#af4c1d'
local color09='#ae4e1e'
local color0A='#9a5f2d'
local color0B='#25a36e'
local color0C='#50b3e2'
local color0D='#65a0d2'
local color0E='#c94c88'
local color0F='#a0451b'

#export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
#" --color=bg+:$color02,bg:$color01,spinner:$color0C,hl:$color0D"\
#" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
#" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0D"

#}

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0B"\
" --color=fg:$color06,header:$color09,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color07,prompt:$color0A,hl+:$color0B"

}

_gen_fzf_default_opts
