    frame_color = "#{{base01-hex}}"

[urgency_low]
    background = "#{{base01-hex}}"
    foreground = "#{{base05-hex}}"
    frame_color = "#{{base05-hex}}"
    timeout = 3
    highlight = "#{{base05-hex}}"
    default_icon = preferences-desktop-notification-bell

[urgency_normal]
    # background = "#{{base02-hex}}"
    background = "#{{base01-hex}}"
    foreground = "#{{base05-hex}}"
    frame_color = "#{{base05-hex}}"
    timeout = 3
    highlight = "#{{base05-hex}}"
    default_icon = preferences-desktop-notification-bell

[urgency_critical]
    background = "#{{base01-hex}}"
    # background = "#{{base08-hex}}"
    foreground = "#{{base06-hex}}"
    frame_color = "#{{base08-hex}}"
    timeout = 0
    default_icon = dialog-warning
    highlight = "#{{base08-hex}}"
