// Scheme name: photo-1508166159374-08190ea39268-jpeg
// Scheme system: base16
// Scheme author: Tinty
// Theme based on Onagre's Hollow theme
// Template author: Tinted Theming (https://github.com/tinted-theming)

.onagre {
    --exit-unfocused: false;
    height: 375px;
    width: 600px;
    // --icon-theme: "breeze-dark";
    // --icon-size: 28px;
    --font-family: "Iosevka Nerd Font Mono";
    background: #21282a;
    color: #d8d8ca;
    // border-color: #6f736e;
    // border-width: 2px;
    border-radius: 0%;
    padding: 5px;

    .container {
        padding: 8px;
        .search {
            --spacing: 1;
            background: #898c85;
            border-radius: 10.0%;
            color: #d8d8ca;
            --height: fill-portion 1;

            .plugin-hint {
                font-size: 14px;
                background: #555a57;
                color: #d8d8ca;
                border-color: #6f736e;
                --align-x: center;
                --align-y: center;
                --width: fill-portion 1;
                --height: fill;
            }

            .input {
                font-size: 14px;
                background: #898c85;
                --width: fill-portion 11;
            }
        }

        .rows {
            --height: fill-portion 8;
            border-radius: 8.0%;

            .row-selected {
                background: #89728c;
                color: #d8d8ca;
                --spacing: 3px;
                --align-y: center;

                border-radius: 8.0%;
                .title {
                    font-size: 14px;
                }

                .description {
                    font-size: 12px;
                }

                .category-icon {
                    --icon-size: 15px;
                }
            }

            .row {
                .title {
                    font-size: 14px;
                }

                .description {
                    font-size: 12px;
                }

                .category-icon {
                    --icon-size: 15px;
                }
            }
        }

        .scrollable {
            background: #21282a;
            .scroller {
                color: #898c85;
            }
        }
    }
}

