* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.9);
}
button {
    color: #FFFFFF;
	background-color: @theme_bg_color; /*#1E1E1E;*/
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 2px;
}

button:focus, button:active, button:hover {
	background-color: alpha(@theme_selected_bg_color, 0.333); /*#3700B3; ( rgb(55,0,179);)*/
	outline-style: none;
}

#lock {

    background-image: image(url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
	background-image: image(url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image( url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/local/share/wlogout/icons/reboot.png"));
}
