palette = [
    "#{{base08-hex}}",
    "#{{base0A-hex}}",
    "#{{base0B-hex}}",
    "#{{base0C-hex}}",
    "#{{base0D-hex}}",
    "#{{base0E-hex}}"
]

custom = [
    "#{{base08-hex}}",
    "#{{base0A-hex}}",
    "#{{base0B-hex}}",
    "#{{base0C-hex}}",
    "#{{base0D-hex}}",
    "#{{base0E-hex}}"
]
