color_fg0 = '#{{base07-hex}}'
color_bg1 = '#{{base00-hex}}'
color_bg3 = '#{{base03-hex}}'
color_blue = '#{{base0D-hex}}'
color_aqua = '#{{base0C-hex}}'
color_green = '#{{base0B-hex}}'
color_orange = '#{{base09-hex}}'
color_purple = 'purple'
color_red = '#{{base08-hex}}'
color_yellow = '#{{base0A-hex}}'
