.onagre {
  --exit-unfocused: false;
  height: 380px;
  width: 600px;
  // --icon-theme: "Papirus-Dark";
  // --icon-size: 24px;
  --font-family: "Noto Sans Regular";
  font-size: 14px;
  background: #202542;
  color: #dcd0d6;
  border-color: #706e81;
  border-radius: 5%;
  border-width: 2px;
  padding: 0;

  .container {
    background: #202542;
    color: #dcd0d6;
    border-color: #706e81;
    border-radius: 5%;
    border-width: 2px;
    padding: 10px;

    .search {
      background: #3a3d57;
      color: #dcd0d6;
      border-color: #706e81;
      border-radius: 5%;
      border-width: 1px;
      padding-left: 10;
      padding-right: 10;
      padding-top: 5;
      padding-bottom: 5;
      --width: fill;
      --height: fill-portion 1;
      --align-x: left;
      --align-y: center;

      .plugin-hint {
        background: #3e6cce;
        color: #2c2525;
        border-color: #706e81;
        border-radius: 0%;
        border-width: 0px;
        padding: 0;
        --width: shrink;
        --height: fill;
      }

      .input {
        background: #3a3d57;
        color: #dcd0d6;
        border-color: #706e81;
        // border-radius: 5%;
        // border-width: 5px;
        padding-top: 0;
        padding-bottom: 0;
        --width: fill;
        --height: fill;
        --text-width: fill;
        --selection-color: #9d5455;
        --placeholder-color: #d1b950;
        --align-x: left;
        --align-y: center;
      }
    }

    .rows {
      // background: #ffffff;
      // color: #2c2525;
      // border-color: #ffffff;
      // border-radius: 0%;
      // border-width: 3px;
      padding-top: 5;
      --width: fill;
      --height: fill-portion 6;

      .row {
        // background: #de5959;
        // color: #2c2525;
        // border-color: #9535c5;
        // border-radius: 0%;
        // border-width: 3px;
        // padding: 10px;
        padding-top: 5;
        padding-bottom: 5;
        padding-right: 10;
        padding-left: 10;
        --width: fill;
        --height: shrink;

        .title {
          font-size: 13px;
          // background: #3a3d57;
          color: #dcd0d6;
          // border-color: #ffffff;
          // border-radius: 0%;
          // border-width: 0px;
          padding: 0;
          --width: fill;
          --height: shrink;
          --align-x: left;
          --align-y: center;
        }

        .description {
          font-size: 10px;
          // background: #3a3d57;
          color: #dcd0d6;
          // border-color: #ffffff;
          // border-radius: 0%;
          // border-width: 0px;
          padding: 0;
          --width: fill;
          --height: shrink;
          --align-x: left;
          --align-y: center;
        }

        // .icon {
        //   --icon-size: 22px;
        //   background: #ffffff;
        //   color: #2c2525;
        //   border-color: #ffffff;
        //   border-radius: 0%;
        //   border-width: 0px;
        //   padding: 0;
        //   --width: shrink;
        //   --height: shrink;
        //   --align-x: center;
        //   --align-y: center;
        // }
        //
        // .category-icon {
        //   --icon-size: 22px;
        //   background: #ffffff;
        //   color: #2c2525;
        //   border-color: #ffffff;
        //   border-radius: 0%;
        //   border-width: 0px;
        //   padding: 0;
        //   --width: shrink;
        //   --height: shrink;
        //   --align-x: center;
        //   --align-y: center;
        // }
      }
      .row-selected {
        background: #524a6344;
        color: #dcd0d6;
        border-color: #524a63;
        border-radius: 5%;
        border-width: 2px;
        padding-top: 5;
        padding-bottom: 5;
        padding-right: 10;
        padding-left: 10;
        --width: fill;
        --height: shrink;

        .title {
          font-size: 14px;
          background: #524a6300;
          // color: #2c2525;
          // border-color: #ffffff;
          // border-radius: 0%;
          // border-width: 0px;
          padding: 0;
          --width: fill;
          --height: shrink;
          --align-x: left;
          --align-y: center;
        }

        .description {
          font-size: 11px;
          background: #524a6300;
          // color: #2c2525;
          // border-color: #ffffff;
          // border-radius: 0%;
          // border-width: 0px;
          padding: 0;
          --width: fill;
          --height: shrink;
          --align-x: left;
          --align-y: center;
        }

        // .icon {
        //   --icon-size: 20px;
        //   background: #ffffff;
        //   color: #2c2525;
        //   border-color: #ffffff;
        //   border-radius: 0%;
        //   border-width: 0px;
        //   padding: 0;
        //   --width: shrink;
        //   --height: shrink;
        //   --align-x: left;
        //   --align-y: center;
        // }

        // .category-icon {
        //   --icon-size: 22px;
        //   background: #ffffff;
        //   color: #2c2525;
        //   border-color: #ffffff;
        //   border-radius: 0%;
        //   border-width: 0px;
        //   padding: 0;
        //   --width: shrink;
        //   --height: shrink;
        //   --align-x: center;
        //   --align-y: center;
        // }
      }
    }

    .scrollable {
      background: #524a63;
      // border-color: #ffffff;
      // border-radius: 0%;
      // border-width: 0px;
      width: 5;
      margin: 0;
      .scroller {
        color: #dcd0d6;
        // border-color: #ffffff;
        // border-radius: 0%;
        // border-width: 0px;
        width: 5;
      }
    }
  }
}
