
#Theme = "Breeze-Dark"
#IconTheme = "Breeze"

Function("SfwbarInit") {
	Layer "top"
	#SetExclusiveZone "26"
}

Function("ToggleFocus") {
	[!Focused] Focus
	[Focused] Minimize
}


# Taskbar menu
menu("winops") {
    item("Focus", Function "ToggleFocus" );
	#item("Maximize", Function "ToggleMaximize" );
	#item("Minimize", Function "ToggleMinimize" );
	separator
	#item("Sticky", Function "ToggleSticky");
	separator
	item("Close", Close );
}

placer {
	xorigin = 5
	yorigin = 5
	xstep = 5
	ystep = 5
	children = false
}


# Panel layout
layout {

	#include("widgets/startmenu.widget")

	pager {
		preview = true
		sort = true
		rows = 1
	}

	# Taskbar
	taskbar {
		css = "* { -GtkWidget-hexpand: false; min-height: 24px; }"	# take up empty space, set icon size
		filter = workspace
		icons = true                 # display icons
		labels = false                # display titles
		rows = 1                     # don't stack window buttons across two rows
		action[3] = Menu "winops"    # context menu

		title_width = 20             # set max title width / also button width
		sort = true                 # manual sorting
		style = "taskbar"
		group = popup
		group cols = 1
		group icons = true
		group labels = true
		group style = "taskbar_group"

	}

	label "activewin" {
		css = "* { background: none; padding: 0 10px }"
        value = ActiveWin()
    }

	# Spacer
	label {
        css = "* { -GtkWidget-hexpand: true; background: none }"
        value = ""
	}

	label {
		style = "separator"
        value ="|"
        css = "* { background: none; padding: 3px 4px 5px 4px; }"
	}

	#include("widgets/weather-popup.widget")
	#include("widgets/clock.widget")
	include("widgets/cal.widget")

	grid {
		style = "status_grid"

		include("widgets/idle.widget")
		#include("widgets/backlight.widget")
		label {
			style = "separator"
			value ="|"
		}
		include("widgets/cpu-mem.widget")
		label {
			style = "separator"
			value ="|"
		}
		#include("widgets/wayfire-kbdd.widget")
		include("sway-lang.widget")
		include("widgets/notifications-swaync.widget")
		include("widgets/clipboard-pop.widget")
		include("widgets/battery.widget")
		#include("widgets/network-module.widget")
		include("volume.widget")
		tray {
			sort = false
		}
		#include("showdesktop.widget")
	}

	#include("widgets/logout-popup.widget")
	include("widgets/logout-wleave.widget")

}

#CSS

window#sfwbar {
	-GtkWidget-direction: top;
	background: @theme_bg_color;
	border-bottom: 1px solid @borders;
	border-radius: 0;
	padding: 0;
}

#module,
#showdesktop,
#idle_inhibitor,
#idle_inhibitor_activated {
  padding: 0;
}

#cpu_icon,
#temp_value,
#cpu_use,
#cpu,
#memory,
#temperature,
#backlight,
#sway_lang,
#module image,
#showdesktop image,
#idle_inhibitor image,
#idle_inhibitor_activated image {
  background-color: alpha(white, 0.70);
  color: black;
  padding: 0 4px;
}

#module image,
#showdesktop image,
#idle_inhibitor image,
#idle_inhibitor_activated image {
  background-color: alpha(white, 0.70);
  color: black;
  padding: 0 4px;
}

#cpu.critical,
#memory.critical,
#temperature.critical {
  background-color: #eb4d4b;
}

button {
	min-height: 16px;
	min-width: 16px;
	padding: 2px;
	margin: 0px;
	border-radius: 0px;
	border: 0px;
}

button#taskbar_normal,
button#taskbar_active,
button#taskbar_normal,
button#taskbar_group_normal,
button#taskbar_group_normal:hover,
button#taskbar_group_active {
	padding-left: 8px;
	padding-right: 8px;
	margin: 0 1px;
}

button#taskbar_normal image,
button#taskbar_active image,
button#taskbar_normal:hover image,
button#taskbar_group_normal image,
button#taskbar_group_normal:hover image,
button#taskbar_group_active image {
	min-height: 16px;
	min-width: 16px;
}


button#taskbar_group_active {
	background-color: alpha(@theme_selected_bg_color, 0.5);
	border-bottom: 2px solid alpha(@theme_selected_bg_color, 1);
}

button#taskbar_group_normal {
	background-color: alpha(@borders, 0.5);
	border-bottom: 2px solid alpha(@borders, 1);
}

button#taskbar_group_normal:hover {
	background-color: alpha(@theme_selected_bg_color, 0.5);
	border-bottom: 2px solid alpha(@theme_selected_bg_color, 1);
}

button#taskbar_normal label,
button#taskbar_active label,
button#taskbar_normal:hover label {
	padding-left: 5px;
}

button#taskbar_active {
	background-color: alpha(@theme_selected_bg_color, 0.5);
	border-bottom: 2px solid alpha(@theme_selected_bg_color, 1);
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0;
}

button#taskbar_normal {
	/*background-color: #deddda;*/
	background-color: alpha(@borders, 0.5);
	border-bottom: 2px solid alpha(@borders, 1);
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0;

}

button#taskbar_normal:hover {
	/*background-color: #deddda;*/
	background-color: alpha(@theme_selected_bg_color, 0.5);
	border-bottom: 2px solid alpha(@theme_selected_bg_color, 1);

}

button#tray_active ,
button#tray_passive ,
button#tray_attention {
	padding: 0;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
	min-width: 16px;
	min-height: 16px;
	background-color: alpha(white, 0.70);
	padding: 0 4px;
}

progressbar {
	padding-left: 4px;
	padding-right: 4px;
	-GtkWidget-vexpand: true;
	-GtkWidget-direction: top;
}

progress, trough {
	border-radius: 0;
	border-color: #9c9c9c;
}

progress {
	border-style: outset;
	min-width: 16px;
}

trough {
	background-color: #a1a1a1;
	border-style: inset;
	min-height: 16px;
	min-width: 16px;
}


label#separator {
	padding: 3px 2px 5px 2px;
	color: alpha(@borders, 1);
	background-color: alpha(white, 0.70);
}

label {
	font-family: "Noto Sans";
	font-size: 1em;
}

/*
#taskbar_pager_normal
#taskbar_pager_active
#pager_normal
#pager_visible
#pager_focused
*/

#pager_focused {
	background: alpha(@theme_selected_bg_color, 0.5);
	border: 1px solid @theme_selected_bg_color;
	font-weight: 500;
}


/*label#sway_lang {
  -GtkWidget-vexpand: true;
  -GtWidget-valign: center;
  background: alpha(white, 0.70);
  color: black;
}*/

* {
	-GtkWidget-vexpand: true;
}
