! Base16 banner
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #252728
! base01: #424445
! base02: #5f6262
! base03: #7c7f7f
! base04: #9a9d9d
! base05: #b7baba
! base06: #d4d8d7
! base07: #f2f6f5
! base08: #f82304
! base09: #fd8e10
! base0A: #f9a13c
! base0B: #50aa0e
! base0C: #0f8ded
! base0D: #0021c0
! base0E: #8b6278
! base0F: #942809

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #424445, #424445, #252728

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #424445, #b7baba, #424445, #424445, #f2f6f5
rofi.color-active:  #424445, #0021c0, #424445, #424445, #0021c0
rofi.color-urgent:  #424445, #f82304, #424445, #424445, #f82304

! Set the desired separator style
rofi.separator-style: solid
