! Base16 minimal-15-png
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #331c46
! base01: #4b375b
! base02: #645270
! base03: #7c6d85
! base04: #95889a
! base05: #ada3af
! base06: #c6bec4
! base07: #dfdada
! base08: #7d631d
! base09: #f0b17e
! base0A: #f0b17e
! base0B: #5c9441
! base0C: #a6b8ea
! base0D: #0f5185
! base0E: #6c3791
! base0F: #7e6520

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #4b375b, #4b375b, #331c46

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #4b375b, #ada3af, #4b375b, #4b375b, #dfdada
rofi.color-active:  #4b375b, #0f5185, #4b375b, #4b375b, #0f5185
rofi.color-urgent:  #4b375b, #7d631d, #4b375b, #4b375b, #7d631d

! Set the desired separator style
rofi.separator-style: solid
