! Base16 nature-15-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #35221b
! base01: #4a3931
! base02: #605148
! base03: #75685f
! base04: #8b8075
! base05: #a0978c
! base06: #b6afa3
! base07: #ccc7ba
! base08: #687d96
! base09: #91a3a5
! base0A: #e1d168
! base0B: #239e95
! base0C: #18e9e5
! base0D: #1e2e99
! base0E: #4a489b
! base0F: #a12928

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #4a3931, #4a3931, #35221b

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #4a3931, #a0978c, #4a3931, #4a3931, #ccc7ba
rofi.color-active:  #4a3931, #1e2e99, #4a3931, #4a3931, #1e2e99
rofi.color-urgent:  #4a3931, #687d96, #4a3931, #4a3931, #687d96

! Set the desired separator style
rofi.separator-style: solid
