! Base16 minimal-10-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #3a2018
! base01: #503931
! base02: #66534a
! base03: #7c6d63
! base04: #92877c
! base05: #a8a195
! base06: #bebbae
! base07: #d5d5c7
! base08: #9a474c
! base09: #fbab38
! base0A: #d3a08c
! base0B: #0c7768
! base0C: #27bfd8
! base0D: #0341cb
! base0E: #8d406e
! base0F: #c75834

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #503931, #503931, #3a2018

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #503931, #a8a195, #503931, #503931, #d5d5c7
rofi.color-active:  #503931, #0341cb, #503931, #503931, #0341cb
rofi.color-urgent:  #503931, #9a474c, #503931, #503931, #9a474c

! Set the desired separator style
rofi.separator-style: solid
