! Base16 nature-7-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #34231d
! base01: #4e3f39
! base02: #685c56
! base03: #827972
! base04: #9d958f
! base05: #b7b2ab
! base06: #d1cfc8
! base07: #ecece5
! base08: #986a5c
! base09: #9dac4b
! base0A: #addc57
! base0B: #5de34c
! base0C: #22c3c3
! base0D: #1e36da
! base0E: #842c8e
! base0F: #94735f

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #4e3f39, #4e3f39, #34231d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #4e3f39, #b7b2ab, #4e3f39, #4e3f39, #ecece5
rofi.color-active:  #4e3f39, #1e36da, #4e3f39, #4e3f39, #1e36da
rofi.color-urgent:  #4e3f39, #986a5c, #4e3f39, #4e3f39, #986a5c

! Set the desired separator style
rofi.separator-style: solid
