! Base16 adaptive-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1d292c
! base01: #333f42
! base02: #495659
! base03: #606d70
! base04: #768387
! base05: #8d9a9e
! base06: #a3b1b5
! base07: #bac8cc
! base08: #c3767d
! base09: #d58283
! base0A: #d5988d
! base0B: #006756
! base0C: #3c8982
! base0D: #2a6772
! base0E: #c3767d
! base0F: #422f43

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #333f42, #333f42, #1d292c

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #333f42, #8d9a9e, #333f42, #333f42, #bac8cc
rofi.color-active:  #333f42, #2a6772, #333f42, #333f42, #2a6772
rofi.color-urgent:  #333f42, #c3767d, #333f42, #333f42, #c3767d

! Set the desired separator style
rofi.separator-style: solid
