! Base16 bird-png
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #2c261e
! base01: #48433c
! base02: #65615b
! base03: #827f79
! base04: #9f9c98
! base05: #bcbab6
! base06: #d9d8d5
! base07: #f6f6f4
! base08: #a04d20
! base09: #62809a
! base0A: #e1c355
! base0B: #325266
! base0C: #5fb2df
! base0D: #1e3caa
! base0E: #764d36
! base0F: #975c34

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #48433c, #48433c, #2c261e

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #48433c, #bcbab6, #48433c, #48433c, #f6f6f4
rofi.color-active:  #48433c, #1e3caa, #48433c, #48433c, #1e3caa
rofi.color-urgent:  #48433c, #a04d20, #48433c, #48433c, #a04d20

! Set the desired separator style
rofi.separator-style: solid
