! Base16 Background-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #0c2031
! base01: #263743
! base02: #404f56
! base03: #5a6768
! base04: #747f7b
! base05: #8e978d
! base06: #a8afa0
! base07: #c2c7b3
! base08: #ff0001
! base09: #e87e43
! base0A: #ffb568
! base0B: #00ac67
! base0C: #6f7e9d
! base0D: #0100b2
! base0E: #71285d
! base0F: #953536

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #263743, #263743, #0c2031

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #263743, #8e978d, #263743, #263743, #c2c7b3
rofi.color-active:  #263743, #0100b2, #263743, #263743, #0100b2
rofi.color-urgent:  #263743, #ff0001, #263743, #263743, #ff0001

! Set the desired separator style
rofi.separator-style: solid
