! Base16 grass-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #2b2524
! base01: #433d3b
! base02: #5c5653
! base03: #756f6b
! base04: #8d8782
! base05: #a6a09a
! base06: #bfb9b2
! base07: #d8d2ca
! base08: #c95527
! base09: #f67c25
! base0A: #f7b74c
! base0B: #3fae75
! base0C: #36aad7
! base0D: #083ed4
! base0E: #895194
! base0F: #a95c6a

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #433d3b, #433d3b, #2b2524

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #433d3b, #a6a09a, #433d3b, #433d3b, #d8d2ca
rofi.color-active:  #433d3b, #083ed4, #433d3b, #433d3b, #083ed4
rofi.color-urgent:  #433d3b, #c95527, #433d3b, #433d3b, #c95527

! Set the desired separator style
rofi.separator-style: solid
