! Base16 00012-250_k_lms_1468565384_0-00-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #312132
! base01: #423845
! base02: #544f59
! base03: #66666d
! base04: #777d80
! base05: #899494
! base06: #9baba8
! base07: #adc3bc
! base08: #e62129
! base09: #fa6538
! base0A: #e99d73
! base0B: #00a472
! base0C: #04d9d7
! base0D: #0035ff
! base0E: #695669
! base0F: #cd384f

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #423845, #423845, #312132

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #423845, #899494, #423845, #423845, #adc3bc
rofi.color-active:  #423845, #0035ff, #423845, #423845, #0035ff
rofi.color-urgent:  #423845, #e62129, #423845, #423845, #e62129

! Set the desired separator style
rofi.separator-style: solid
