! Base16 fly-jpeg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #222829
! base01: #3e4445
! base02: #5b6061
! base03: #787c7d
! base04: #949899
! base05: #b1b4b5
! base06: #ced0d1
! base07: #ebeced
! base08: #8b7a74
! base09: #a69889
! base0A: #b1a18f
! base0B: #748e82
! base0C: #9eaaae
! base0D: #667c93
! base0E: #89787d
! base0F: #8b7a74

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #3e4445, #3e4445, #222829

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3e4445, #b1b4b5, #3e4445, #3e4445, #ebeced
rofi.color-active:  #3e4445, #667c93, #3e4445, #3e4445, #667c93
rofi.color-urgent:  #3e4445, #8b7a74, #3e4445, #3e4445, #8b7a74

! Set the desired separator style
rofi.separator-style: solid
