! Base16 9uPsXc8-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1d2830
! base01: #353e42
! base02: #4d5455
! base03: #666b68
! base04: #7e817b
! base05: #97988e
! base06: #afaea1
! base07: #c8c5b4
! base08: #aa4a45
! base09: #ad8040
! base0A: #c0ad6b
! base0B: #778f44
! base0C: #5cb8bc
! base0D: #455aa3
! base0E: #96516e
! base0F: #897f6c

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #353e42, #353e42, #1d2830

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #353e42, #97988e, #353e42, #353e42, #c8c5b4
rofi.color-active:  #353e42, #455aa3, #353e42, #353e42, #455aa3
rofi.color-urgent:  #353e42, #aa4a45, #353e42, #353e42, #aa4a45

! Set the desired separator style
rofi.separator-style: solid
