! Base16 sundown-over-water-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #4c111b
! base01: #5f2b33
! base02: #72464b
! base03: #856163
! base04: #997b7b
! base05: #ac9693
! base06: #bfb1ab
! base07: #d3ccc3
! base08: #b08957
! base09: #bd955f
! base0A: #eec85b
! base0B: #10ac6a
! base0C: #20c0f4
! base0D: #1137a4
! base0E: #685c7e
! base0F: #852535

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #5f2b33, #5f2b33, #4c111b

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #5f2b33, #ac9693, #5f2b33, #5f2b33, #d3ccc3
rofi.color-active:  #5f2b33, #1137a4, #5f2b33, #5f2b33, #1137a4
rofi.color-urgent:  #5f2b33, #b08957, #5f2b33, #5f2b33, #b08957

! Set the desired separator style
rofi.separator-style: solid
