! Base16 pos2-png
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #252729
! base01: #3b3f40
! base02: #515758
! base03: #676f70
! base04: #7d8787
! base05: #939f9f
! base06: #a9b7b7
! base07: #c0cfcf
! base08: #b23d41
! base09: #d76e67
! base0A: #f59893
! base0B: #098379
! base0C: #4dc2be
! base0D: #0a676c
! base0E: #8b404a
! base0F: #855b5b

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #3b3f40, #3b3f40, #252729

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3b3f40, #939f9f, #3b3f40, #3b3f40, #c0cfcf
rofi.color-active:  #3b3f40, #0a676c, #3b3f40, #3b3f40, #0a676c
rofi.color-urgent:  #3b3f40, #b23d41, #3b3f40, #3b3f40, #b23d41

! Set the desired separator style
rofi.separator-style: solid
