! Base16 minimal-7-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #0d2833
! base01: #2e464f
! base02: #50646b
! base03: #728287
! base04: #93a0a4
! base05: #b5bec0
! base06: #d7dcdc
! base07: #f9fbf9
! base08: #9a5626
! base09: #b17f4c
! base0A: #cfa77a
! base0B: #847632
! base0C: #6daddb
! base0D: #376599
! base0E: #896966
! base0F: #965323

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #2e464f, #2e464f, #0d2833

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #2e464f, #b5bec0, #2e464f, #2e464f, #f9fbf9
rofi.color-active:  #2e464f, #376599, #2e464f, #2e464f, #376599
rofi.color-urgent:  #2e464f, #9a5626, #2e464f, #2e464f, #9a5626

! Set the desired separator style
rofi.separator-style: solid
