! Base16 rubik-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1a273f
! base01: #343e52
! base02: #4f5565
! base03: #696c78
! base04: #84848b
! base05: #9e9b9e
! base06: #b9b2b1
! base07: #d4cac4
! base08: #ff0000
! base09: #d88c30
! base0A: #dab83b
! base0B: #2fcb6a
! base0C: #3cd4bf
! base0D: #0b27e8
! base0E: #812781
! base0F: #a74758

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #343e52, #343e52, #1a273f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #343e52, #9e9b9e, #343e52, #343e52, #d4cac4
rofi.color-active:  #343e52, #0b27e8, #343e52, #343e52, #0b27e8
rofi.color-urgent:  #343e52, #ff0000, #343e52, #343e52, #ff0000

! Set the desired separator style
rofi.separator-style: solid
