! Base16 extra-11-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1b292d
! base01: #374446
! base02: #535f60
! base03: #6f7a79
! base04: #8b9593
! base05: #a7b0ac
! base06: #c3cbc6
! base07: #dfe7e0
! base08: #9f6362
! base09: #a58b79
! base0A: #bdb599
! base0B: #7b8c7e
! base0C: #77abac
! base0D: #5c678e
! base0E: #935961
! base0F: #847784

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #374446, #374446, #1b292d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #374446, #a7b0ac, #374446, #374446, #dfe7e0
rofi.color-active:  #374446, #5c678e, #374446, #374446, #5c678e
rofi.color-urgent:  #374446, #9f6362, #374446, #374446, #9f6362

! Set the desired separator style
rofi.separator-style: solid
