! Base16 green-png
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1c2a22
! base01: #37443b
! base02: #525e55
! base03: #6d786e
! base04: #889288
! base05: #a3aca1
! base06: #bec6bb
! base07: #dae0d5
! base08: #974e62
! base09: #984f63
! base0A: #baddc1
! base0B: #67b09c
! base0C: #68b19d
! base0D: #45223e
! base0E: #7b4157
! base0F: #814458

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #37443b, #37443b, #1c2a22

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #37443b, #a3aca1, #37443b, #37443b, #dae0d5
rofi.color-active:  #37443b, #45223e, #37443b, #37443b, #45223e
rofi.color-urgent:  #37443b, #974e62, #37443b, #37443b, #974e62

! Set the desired separator style
rofi.separator-style: solid
