! Base16 9-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #272726
! base01: #404140
! base02: #5a5c5b
! base03: #737776
! base04: #8d9290
! base05: #a6adab
! base06: #c0c8c6
! base07: #dae3e1
! base08: #9e342d
! base09: #e1875a
! base0A: #eaa969
! base0B: #407655
! base0C: #61cbd2
! base0D: #155696
! base0E: #5f276d
! base0F: #937059

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #404140, #404140, #272726

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #404140, #a6adab, #404140, #404140, #dae3e1
rofi.color-active:  #404140, #155696, #404140, #404140, #155696
rofi.color-urgent:  #404140, #9e342d, #404140, #404140, #9e342d

! Set the desired separator style
rofi.separator-style: solid
