! Base16 colors-png
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #441a11
! base01: #59342d
! base02: #6f4e49
! base03: #856865
! base04: #9a8281
! base05: #b09c9d
! base06: #c6b6b9
! base07: #dcd0d6
! base08: #ed4a51
! base09: #a1683e
! base0A: #a06a3f
! base0B: #238474
! base0C: #12b5ae
! base0D: #0539b7
! base0E: #653375
! base0F: #9c412e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #59342d, #59342d, #441a11

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #59342d, #b09c9d, #59342d, #59342d, #dcd0d6
rofi.color-active:  #59342d, #0539b7, #59342d, #59342d, #0539b7
rofi.color-urgent:  #59342d, #ed4a51, #59342d, #59342d, #ed4a51

! Set the desired separator style
rofi.separator-style: solid
