! Base16 gruvbox-light-png
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #351f0d
! base01: #493724
! base02: #5e4f3c
! base03: #736754
! base04: #887f6b
! base05: #9d9783
! base06: #b2af9b
! base07: #c7c7b3
! base08: #fc4c34
! base09: #f4831c
! base0A: #7c5067
! base0B: #2b7963
! base0C: #03b6cc
! base0D: #0541cf
! base0E: #684762
! base0F: #7a4f66

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #493724, #493724, #351f0d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #493724, #9d9783, #493724, #493724, #c7c7b3
rofi.color-active:  #493724, #0541cf, #493724, #493724, #0541cf
rofi.color-urgent:  #493724, #fc4c34, #493724, #493724, #fc4c34

! Set the desired separator style
rofi.separator-style: solid
