! Base16 fishpool-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #2d261a
! base01: #474237
! base02: #625e54
! base03: #7c7a71
! base04: #97978e
! base05: #b1b3ab
! base06: #cccfc8
! base07: #e7ece6
! base08: #866879
! base09: #e26164
! base0A: #c99e8c
! base0B: #067e72
! base0C: #43fcee
! base0D: #457c93
! base0E: #7b6297
! base0F: #8f5144

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #474237, #474237, #2d261a

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #474237, #b1b3ab, #474237, #474237, #e7ece6
rofi.color-active:  #474237, #457c93, #474237, #474237, #457c93
rofi.color-urgent:  #474237, #866879, #474237, #474237, #866879

! Set the desired separator style
rofi.separator-style: solid
