! Base16 flowers-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1f2926
! base01: #37403d
! base02: #505755
! base03: #696f6d
! base04: #818685
! base05: #9a9e9d
! base06: #b3b5b5
! base07: #cccdcd
! base08: #9d6439
! base09: #c18f52
! base0A: #c8a161
! base0B: #668451
! base0C: #629bc6
! base0D: #375e9e
! base0E: #68537d
! base0F: #655452

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #37403d, #37403d, #1f2926

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #37403d, #9a9e9d, #37403d, #37403d, #cccdcd
rofi.color-active:  #37403d, #375e9e, #37403d, #37403d, #375e9e
rofi.color-urgent:  #37403d, #9d6439, #37403d, #37403d, #9d6439

! Set the desired separator style
rofi.separator-style: solid
