! Base16 minimal-14-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #2f251f
! base01: #453d39
! base02: #5c5554
! base03: #736d6f
! base04: #89858a
! base05: #a09da5
! base06: #b7b5c0
! base07: #cecedb
! base08: #aa7551
! base09: #f2ad64
! base0A: #ffc46f
! base0B: #76956d
! base0C: #5e90b2
! base0D: #003b90
! base0E: #566595
! base0F: #9c7f71

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #453d39, #453d39, #2f251f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #453d39, #a09da5, #453d39, #453d39, #cecedb
rofi.color-active:  #453d39, #003b90, #453d39, #453d39, #003b90
rofi.color-urgent:  #453d39, #aa7551, #453d39, #453d39, #aa7551

! Set the desired separator style
rofi.separator-style: solid
