! Base16 yosemite-png
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #132648
! base01: #31405e
! base02: #4f5b75
! base03: #6e758c
! base04: #8c90a3
! base05: #abaaba
! base06: #c9c5d1
! base07: #e8e0e8
! base08: #b37938
! base09: #e18e4c
! base0A: #e7ab5e
! base0B: #379759
! base0C: #4c86c7
! base0D: #1753a1
! base0E: #868967
! base0F: #9c7432

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #31405e, #31405e, #132648

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #31405e, #abaaba, #31405e, #31405e, #e8e0e8
rofi.color-active:  #31405e, #1753a1, #31405e, #31405e, #1753a1
rofi.color-urgent:  #31405e, #b37938, #31405e, #31405e, #b37938

! Set the desired separator style
rofi.separator-style: solid
