! Base16 deer-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1c2831
! base01: #354149
! base02: #4e5a61
! base03: #677479
! base04: #818d91
! base05: #9aa7a9
! base06: #b3c0c1
! base07: #cddad9
! base08: #ff0509
! base09: #e38324
! base0A: #d1b445
! base0B: #3d6a52
! base0C: #93d9c8
! base0D: #2e4bba
! base0E: #8d157e
! base0F: #a62b2b

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #354149, #354149, #1c2831

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #354149, #9aa7a9, #354149, #354149, #cddad9
rofi.color-active:  #354149, #2e4bba, #354149, #354149, #2e4bba
rofi.color-urgent:  #354149, #ff0509, #354149, #354149, #ff0509

! Set the desired separator style
rofi.separator-style: solid
