! Base16 2715611-jpg
! Scheme author: Tinty
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #172838
! base01: #33414e
! base02: #4f5b64
! base03: #6c747a
! base04: #888e90
! base05: #a5a7a6
! base06: #c1c1bc
! base07: #dedbd3
! base08: #723a32
! base09: #c39a6b
! base0A: #f3c163
! base0B: #08785b
! base0C: #1bc7f9
! base0D: #0c3e9c
! base0E: #703c50
! base0F: #ba6b4e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #33414e, #33414e, #172838

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #33414e, #a5a7a6, #33414e, #33414e, #dedbd3
rofi.color-active:  #33414e, #0c3e9c, #33414e, #33414e, #0c3e9c
rofi.color-urgent:  #33414e, #723a32, #33414e, #33414e, #723a32

! Set the desired separator style
rofi.separator-style: solid
